@use '../../scss/variables' as var;

.button {
	background-color: var.$color-blue;
	color: var.$color-white;
	font-family: var.$font-base;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 28px;
	font-size: 16px;
	padding: 0.5rem 1.5rem;
	border-radius: 1px;
	border: 1px solid var.$color-white;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		background: var.$color-halogen;
		box-shadow: var.$color-halogen 0px 10px 10px -5px,
			var.$color-halogen 0px 10px 10px -5px;
	}
}
