@use '../../scss/variables' as var;

.chef_content {
	display: flex;
	flex-direction: column;
	width: 100%;

	margin-top: 5rem;

	&_quote {
		display: flex;
		justify-content: start;
		align-items: end;

		img {
			width: 47px;
			height: 40px;
			margin: 0 1rem 1rem 0;
		}
	}

	&_signature {
		width: 100%;
		margin-top: 3rem;

		p:first-child {
			font-family: var.$font-base;
			font-weight: 400;
			font-size: 32;
			line-height: 2.56rem;
			color: var.$color-golden;
		}

		img {
			width: 250px;
			margin-top: 3rem;
		}
	}
}

@media screen and (min-width: 2000px) {
	.chef_content_signature img {
		width: 370px;
	}
}

@media screen and (min-width: 450px) {
	.chef_content_signature img {
		width: 80%;
	}
}
