@use '../../scss/variables' as var;

a {
	text-decoration: none;
}

.app__navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var.$color-black;
	border-bottom: 1px solid var.$color-white;

	padding: 1rem 2rem;

	&_logo {
		display: flex;
		justify-content: start;
		align-items: center;

		img {
			width: 150px;
		}
	}
	&_ul {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		gap: 2rem;
	}

	&_li {
		cursor: pointer;

		a {
			color: var.$color-white;
			&:hover,
			&:focus {
				text-shadow: 2px 2px var.$color-halogen;
				font-weight: 600;
				outline: none;
			}
		}
	}

	&_login {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 1rem;

		a {
			transition: 0.2s ease;
			color: var.$color-white;

			&:hover,
			&:focus {
				text-shadow: 2px 2px var.$color-halogen;
				font-weight: 600;
				outline: none;
			}
		}

		div {
			width: 1px;
			height: 30px;
			background-color: var.$color-gray;
		}
	}
}

.active {
	color: var.$color-halogen !important;
	text-shadow: none !important;
}

.app__navbar_smallscreen {
	display: none;

	&_overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: var.$color-black;
		transition: 0.5s ease;

		flex-direction: column;
		z-index: 5;

		.overlay__close {
			font-size: 27px;
			color: var.$color-white;
			cursor: pointer;

			position: absolute;
			top: 20px;
			right: 20px;
		}
	}

	.navbar__li_smallscreen a {
		display: block;
		margin-block: 1rem;
		cursor: pointer;
		color: var.$color-white;
		font-size: 2rem;
		text-align: center;
		font-family: var.$font-base;

		&:hover {
			color: var.$color-white;
		}
	}
}

@media screen and (max-width: 2000px) {
	.app__navbar_logo img {
		width: 210px;
	}
}

@media screen and (max-width: 1150px) {
	.app__navbar_ul {
		display: none;
	}

	.app__navbar_smallscreen {
		display: flex;
	}
}

@media screen and (max-width: 650px) {
	.app__navbar {
		padding: 1rem;
	}
	.app__navbar_login {
		display: none;
	}
	.app__navbar_logo img {
		width: 110px;
	}
}
