@use '../../scss/variables' as var;

.specialMenu {
	flex-direction: column;
	background-color: var.$color-black;
	&_title {
		margin-bottom: 2rem;
		text-align: center;
	}

	&_menu {
		width: 100%;

		margin-block: 2rem;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: row;

		&_wine,
		&_cocktails {
			flex: 1;
			width: 100%;
			flex-direction: column;
		}
		&_heading {
			font-family: var.$font-base;
			font-weight: 600;
			font-size: 2.8125rem;
			line-height: 3.65rem;
			letter-spacing: 0.04em;
			color: var.$color-white;
		}
		&_items {
			display: flex;
			flex-direction: column;

			margin-block: 2rem;
			width: 100%;
		}
		&_img {
			width: 410px;
			margin-inline: 2rem;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 2000px) {
	.specialMenu_menu_img {
		width: 650px;
	}
	.specialMenu_menu_img img {
		height: 920px;
	}
}
@media screen and (max-width: 1150px) {
	.specialMenu_menu {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.specialMenu_menu_img {
		margin-block: 3rem;
	}
}
@media screen and (max-width: 650px) {
	.specialMenu_menu_img {
		width: 100%;
	}

	.specialMenu_menu_heading {
		font-size: 2.1875rem;
		line-height: 3rem;
	}
}
