@use '../../scss/variables' as var;

.newsletter {
	padding: 2rem 4rem;
}

.newsletter_heading {
	text-align: center;
	flex-direction: column;
}

.newsletter_input {
	flex-direction: row;
	margin-top: 3rem;

	input {
		width: 100%;
		border-radius: 5px;
		font-size: 1rem;
		font-weight: 800;
		font-family: var.$font-base;
		color: var.$color-black;

		padding: 0.75rem 1rem;
		background: var.$color-white;

		&:focus {
			outline-color: var.$color-halogen;
		}
	}
}

@media screen and (min-width: 2000px) {
	.newsletter_input {
		input {
			font-size: 2rem;
		}
	}
}
@media screen and (max-width: 990px) {
	.newsletter_input {
		flex-direction: column;
		width: 100%;

		input {
			margin: 0 0 2rem 0;
			width: 90%;
		}
	}
}
@media screen and (max-width: 650px) {
	.newsletter {
		padding: 2rem 0;
		border: none;
	}
}
@media screen and (max-width: 300px) {
	.newsletter_heading h1 {
		font-size: 2rem;
		line-height: 3.125rem;
	}
}
