@use '../../scss/variables' as var;

.wrapper {
	background: center/cover no-repeat url('../../assets/car-bg.png');

	&__info {
		flex-basis: 50%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;

		.info__h1 {
			font-family: var.$font-base;
			color: var.$color-white;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			line-height: 1.1;
			font-size: 5.625rem;
		}

		button {
			margin-block: 2rem;
			transition: 0.2s;
		}
	}
}

@media screen and (max-width: 650px) {
	.info__h1 {
		font-size: 4rem !important;
	}
}
