/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

/* set up the body */
body {
	line-height: 1.5;
	min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select,
a {
	font: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
	letter-spacing: 0.5ch;
}

button {
	border: none;
	background: transparent;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
