@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
/* ----------------- */
/* Custom properties */
/* ----------------- */

/* colors */
$color-golden: hsl(47, 55%, 70%);
$color-black: hsl(0, 0%, 5%);
$color-gray: hsl(0, 0%, 33%);
$color-crimson: hsl(46, 57%, 91%);
$color-grey: hsl(0, 0%, 67%);
$color-white: hsl(0, 0%, 100%);

/* font-families */
$font-base: 'Cormorant Upright', serif;
$font-alt: 'Open Sans', sans-serif;

/* font-sizes */
$fs-500: 1.25rem;
$fs-400: 1rem;
$fs-300: 0.75rem;
$fs-200: 0.5rem;

$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

$gap: 1rem;
